#message-container {
    overflow-y: scroll;
    height: 240px;
}

#container {
    display: flex;
}

.board {
    margin: auto;
    margin-top: 1em;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

}

.cell {
    width: 3em;
    height: 3em;
    border: 1px solid white;
    text-align: center;
    font-size: 1em;
}

.ship {
    background-color: white;
}

.chat-name {
    color: white;
}

.game-name {
    justify-content: center;
    display: flex;
    color: white;
}

li {
    background-color: cornflowerblue;
    color: white;
    border-radius: 0.75rem;
    margin: 10px 0px;
    padding: 5px 10px;
    list-style-type: none;
    width: fit-content;
    margin-right: 10px;
}

ul {
    display: flex;
    flex-direction: column;
}
